<mat-sidenav-container #sidenavContainer>
    <mat-sidenav #sidenav mode="side" opened="false">
        <mat-nav-list>
            <a mat-list-item routerLink="/bindings" routerLinkActive="active">Bindings</a>
            <a mat-list-item routerLink="/nameResolution" routerLinkActive="active">Name resolution</a>
            <a mat-list-item routerLink="/dataTransfer" routerLinkActive="active">Transfered data</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content cdkScrollable>
        <mat-toolbar color="primary">
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <img src="favicon.ico" alt="logo" height="30px" width="30px">
            <div class="center">
                <span>
                    NGMonitor
                </span>
            </div>

        </mat-toolbar>
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>